.home{
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(to top, #ff0000, #000000);

}

.title{
    text-align: center;
    padding-top: 20px;
}

.heading{
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.para{
    color: rgb(255, 0, 0);
    font-size: 60px;
    font-style: italic;
    font-weight:900;
    font-family: monospace;
    margin-bottom: 30px;
    letter-spacing: 2rem;
}

.card{
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-container{
    display: flex;
    gap: 25px;
    border: 3px solid #e74c3c;
    padding: 30px;
    margin: 0 auto;
    max-width: 900px;
    align-items: flex-start;
    background: rgb(244, 98, 98);
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(231, 76, 60, 0.3);
}

.content-text{
    flex: 1;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.8;
    color: #333;
    font-size: 14px;
}

.count{
    display:flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 50px;
    font-family: cursive;
}
button{
    font-size: larger;
    font-style: italic;
    font-family: cursive;
    background-color: yellow;
    border:2px solid black;
    border-radius: 5px;
    height: 50px;
    width:100px;  
}