.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at left, #3a2754 0%, #1a1520 40%, #3a2754 80%);


}

.login {
 
  background: linear-gradient(90deg, #1a0f1f 0%, #0d0b12 30%, #000000 70%);;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: grey;
  max-width: 28rem;
  width: 100%;
  
}

.logo-image {
  width: auto;
  height: auto;
  margin: 0 auto 1rem;
  display: block;
  object-fit: contain;
}

.login h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.data {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.data label {
  color:white;
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.data input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  outline: none;
}

.nav-p{
  font-size: medium;
  font-style: italic;
  color: red;
}

.nav-signup{
  font-weight: bolder;
}

.button {
  width: 100%;
  background-color: red;
  color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color:red;
}

.login p {
  text-align: center;
  margin-top: 1rem;
  
}

.signup-link {
  color: #2563eb;
  text-decoration: none;
  margin-left: 0.25rem;
}

.signup-link:hover {
  text-decoration: underline;
}

.nav-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;
  flex-direction: row;
}

.nav-p {
  color: white;
  margin: 0;
}

.nav-signup {
  list-style: none;
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.nav-signup:hover {
  text-decoration: underline;
}